<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All members</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/theme-dark.css}" id="theme-link">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<h1>List of members </h1>
<div class="list" th:each="member : ${members}">
    <a th:href="@{/members/{id}(id=${member.memberId})}"
       th:text="${member.name} + ' ' + ${member.surname}">member</a>
</div>
<br/>

    <form th:action="@{/members/new}">
        <input class="btn create-btn" type="submit" value="Create"/>
    </form>

<script th:src="@{/js/theme-toggle.js}"></script>

</body>
</html>