<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>All journals</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/theme-dark.css}" id="theme-link">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<h1>List of magazines</h1>

<div class="item-list">
    <div class="item-card" th:each="journal: ${journals}">
        <img th:src="@{${journal.imagePath != null ? '/' + journal.imagePath : '/images/default_image.png'}}" alt="Magazine cover">
        <div class="item-info">
            <p th:text="${journal.thematic}">Thematic</p>
            <p th:text="${journal.name}">Name</p>
            <p th:text="${journal.month} + ', ' + ${journal.year}">Month, year</p>
        </div>
        <a class="item-link" th:href="@{/journals/{id}(id=${journal.journalId})}">Details</a>
    </div>
</div>


<form th:action="@{/journals/new}">
    <input class="btn create-btn" type="submit" value="Create"/>
</form>

<script th:src="@{/js/theme-toggle.js}"></script>

</body>
</html>