<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Journal</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/theme-dark.css}" id="theme-link">
    <link rel="stylesheet" th:href="@{/css/show.css}">
</head>
<body>

<div class="item-details-container">
    <div class="item-image-box">
        <img class="item-image" alt="Magazine image"
             th:src="@{${journal.imagePath != null ? '/' + journal.imagePath : '/images/default_image.png'}}"/>
    </div>
    <div class="item-info-box">
        <p class="item-title" th:text="${journal.thematic}">Thematic</p>
        <p class="item-title" th:text="${journal.name}">Name</p>
        <p class="item-meta" th:text="${journal.month} + ', ' + ${journal.year}">Month, year</p>

        <div class="item-buttons">
            <form th:action="@{/journals/{id}/edit(id=${journal.journalId})}">
                <input class="btn edit-btn" type="submit" value="Edit"/>
            </form>

            <form th:method="DELETE" th:action="@{/journals/{id}(id=${journal.journalId})}">
                <input class="btn delete-btn" type="submit" value="Delete"/>
            </form>
        </div>
    </div>
</div>


<div class="checkout-box" th:if="${owner}">
    <p>This film is currently checked out by:</p>
    <a th:text="${owner.name + ' ' + owner.surname}" th:href="@{/members/{id}(id=${owner.memberId})}">Member link</a>
    <form class="checkout-form" th:method="PATCH" th:action="@{/journals/{id}/release(id=${journal.journalId})}">
        <input class="btn checkout-btn" type="submit" value="Return magazine"/>
    </form>
</div>

<div class="checkout-box" th:if="${members}">
    <p>This magazine is currently available</p>
    <form class="checkout-form" th:method="PATCH" th:action="@{/journals/{id}/assign(id=${journal.journalId})}">
        <label for="member">Assign it to a member:</label>
        <select id="member" th:object="${member}" th:field="*{memberId}">
            <option th:each="member : ${members}" th:value="${member.memberId}"
                    th:text="${member.name + ' ' + member.surname}">
            </option>
        </select>
        <input class="btn checkout-btn" type="submit" value="Check out Magazine"/>
    </form>
</div>

<script th:src="@{/js/theme-toggle.js}"></script>

</body>
</html>