<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All films</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/theme-dark.css}" id="theme-link">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<h1>List of films</h1>

<div class="item-list">
    <div class="item-card" th:each="film : ${films}">
        <img alt="Film image" th:src="@{${film.imagePath != null ? '/' + film.imagePath : '/images/default_image.png'}}">
        <div class="item-info">
            <p th:text="${film.name}"></p>
            <p th:text="${film.director} + ', ' + ${film.year}">Author, Year</p>
        </div>
        <a class="item-link" th:href="@{/films/{id}(id=${film.filmId})}">Details</a>
    </div>
</div>

    <form th:action="@{/films/new}">
        <input class="btn create-btn" type="submit" value="Create"/>
    </form>

<script th:src="@{/js/theme-toggle.js}"></script>

</body>
</html>