<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/theme-dark.css}" id="theme-link">
    <link rel="stylesheet" th:href="@{/css/show.css}">
</head>
<body>
<div class="item-details-container">
    <div class="item-image-box">
        <img class="item-image" alt="Film image"
             th:src="@{${film.imagePath != null ? '/' + film.imagePath : '/images/default_image.png'}}"/>
    </div>
    <div class="item item-info-box">
        <p class="item-title" th:text="${film.name}">name</p>
        <p class="item-meta" th:text="${film.director}">director</p>
        <p class="item-meta" th:text="${film.year}">year</p>

        <div class="item-buttons">
            <form th:action="@{/films/{id}/edit(id=${film.filmId})}">
                <input class="btn edit-btn" type="submit" value="Edit"/>
            </form>
            <form th:method="DELETE" th:action="@{/films/{id}(id=${film.filmId})}">
                <input class="btn delete-btn" type="submit" value="Delete"/>
            </form>
        </div>
    </div>
</div>


<div class="checkout-box" th:if="${owner}">
    <p>This film is currently checked out by:</p>
    <a th:text="${owner.name + ' ' + owner.surname}" th:href="@{/members/{id}(id=${owner.memberId})}">Member link</a>
    <form class="checkout-form" th:method="PATCH" th:action="@{/films/{id}/release(id=${film.filmId})}">
        <input class="btn checkout-btn" type="submit" value="Return Film"/>
    </form>
</div>

<div class="checkout-box" th:if="${members}">
    <p>This film is currently available</p>
    <form class="checkout-form" th:method="PATCH" th:action="@{/films/{id}/assign(id=${film.filmId})}">
        <label for="member">Assign it to a member:</label>
        <select th:object="${member}" th:field="*{memberId}" id="member">
            <option th:each="member : ${members}" th:value="${member.memberId}"
                    th:text="${member.name + ' ' + member.surname}">
            </option>
        </select>
        <input class="btn checkout-btn" type="submit" value="Check Out Film"/>
    </form>
</div>

<script th:src="@{/js/theme-toggle.js}"></script>

</body>
</html>